<div class = "text-center well">
<h3>Total Amount:</h3> $<%= @buying.post.price%><br>
<h3>Address</h3><%= @buying.address%><br>
<%= link_to "Buy Image", payment_new_path, class: "btn btn-default" %><br>
</div>